body {
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 250px; /* Ajuste a largura conforme necessário */
    height: 100vh; /* Altura total da janela */
    background-color: #333; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    position: fixed; /* Fica fixa na lateral */
}

.sidebar .profile {
    text-align: center; /* Centraliza o conteúdo */
    margin-bottom: 20px; /* Espaço abaixo do perfil */
}

.sidebar img {
    width: 100px; /* Ajuste o tamanho da imagem do perfil */
    border-radius: 50%; /* Deixa a imagem redonda */
}

.sidebar nav ul {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o preenchimento padrão */
}

.sidebar nav ul li {
    margin: 10px 0; /* Espaçamento entre os itens */
}

.sidebar nav ul li a {
    color: #ddd; /* Cor do link */
    text-decoration: none; /* Remove o sublinhado */
    transition: color 0.3s; /* Transição suave na mudança de cor */
}

.sidebar nav ul li a:hover {
    color: #fff; /* Muda a cor ao passar o mouse */
}

.sidebar .contact-button {
    margin-top: 20px; /* Espaço acima do botão de contato */
}

.social-media {
    text-align: center; /* Centraliza os ícones de mídia social */
    margin-top: 20px; /* Espaço acima */
}

.social-media a {
    color: #ddd; /* Cor dos ícones */
    margin: 0 10px; /* Espaço entre os ícones */
}


 
.content {
    margin-left: 270px; /* Deixa espaço para a sidebar */
    padding: 20px;
    text-align: center; /* Centraliza o conteúdo */
}

.section_inicio {
    height: 100vh; /* Ocupa a altura total da tela */
    display: flex; /* Usa o flexbox para centralização */
    flex-direction: column; /* Organiza os elementos em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;
    text-align: center;
    background-color: #0026ff; /* cor de fundo alternativa */
    background: url('imagens\foto de fundo.jpg') no-repeat center center/cover; /* Adiciona a imagem de fundo */
    background-attachment: fixed; /* Efeito parallax */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section_inicio h2 {
    font-size: 36px; /* Tamanho do título de boas-vindas */
    color: #444; /* Cor do título */
    margin-bottom: 20px; /* Espaço entre o h2 e o texto animado */
}

.section_inicio h1 {
    font-size: 28px; /* Tamanho da profissão (texto animado) */
    color: #000000; /* Cor do texto animado */
}
