body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', sans-serif; /* Escolha a fonte desejada */
    font-size: 1em; /* Tamanho padrão da fonte */
    color: #ffffff; /* Cor do texto padrão */
}

.sidebar {
    width: 200px; /* Ajuste a largura conforme necessário */
    height: 100vh; /* Altura total da janela */
    background-color: #161515; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    position: fixed; /* Fica fixa na lateral */
    
}

.sidebar .profile {
    text-align: center; /* Centraliza o conteúdo */
    margin-bottom: 50px; /* Espaço abaixo do perfil */
}

.sidebar img {
    width: 100px; /* Ajuste o tamanho da imagem do perfil */
    border-radius: 50%; /* Deixa a imagem redonda */
}

.sidebar nav ul {
    text-align: center;
    list-style: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o preenchimento padrão */
}

.sidebar nav ul li {
    margin: 35px 0; /* Espaçamento entre os itens */
}

.sidebar nav ul li a {
    color: #ffffff; /* Cor do link */
    text-decoration: none; /* Remove o sublinhado */
    transition: color 0.3s; /* Transição suave na mudança de cor */
}

.sidebar nav ul li a:hover {
    color: #9400D3; /* Muda a cor ao passar o mouse */
}

.sidebar .contact-button {
    text-align: center;
    margin-top: 50px; /* Espaço acima do botão de contato */
    background-color: #9400D3;
    color: #ffffff; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: 1px solid #ffffff; /* Borda sólida */
    border-radius: 25px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave para hover */
}

.link_whats{
    text-decoration: none; 
    color: #ffffff;
}

.sidebar .contact-button:hover {
    background-color: #00b30f; /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}

.social-media {
    font-size: 20px;
    text-align: center; /* Centraliza os ícones de mídia social */
    margin-top: 50px; /* Espaço acima */
}

.social-media a {
    color: #ddd; /* Cor dos ícones */
    margin: 0 20px; /* Espaço entre os ícones */
}


 
.content {
    margin-left: 240px; /* Deixa espaço para a sidebar */
    padding: 0;
    text-align: center; /* Centraliza o conteúdo */
}

.section_inicio {

    height: 100vh; /* Ocupa a altura total da tela */
    display: flex; /* Usa o flexbox para centralização */
    flex-direction: column; /* Organiza os elementos em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;
    text-align: center;
    background-color: #0026ff; /* cor de fundo alternativa */
    background: url('https://github.com/EduardoMelo20x/Meu-Portfolio/blob/main/imagens/foto%20de%20fundo.jpg?raw=true') no-repeat center center/cover; /* Adiciona a imagem de fundo */
    background-attachment: fixed; /* Efeito parallax */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section_inicio h2 {
    
    font-size: 25px; /* Tamanho do título de boas-vindas */
    color: #ffffff; /* Cor do título */
    margin-bottom: 2px; /* Espaço entre o h2 e o texto animado */
}

.profissao {
    font-family: sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
}

